# The number of milliseconds of each tick
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
syncLimit=5
# the directory where the snapshot is stored.
dataDir=/v/filer4b/v20q001/yangwang/SOSP-09/Applications/Zookeeper/zookeeper-3.0.1/server1/data
# the port at which the clients will connect
clientPort=5353
